AZURE_BLOB_CONNECTION_STRING: your-azure-store-blob-connection-string
AZURE_BLOB_CONTAINER_NAME: your-azure-store-blob-container-name
AZURE_BLOB_NAME: your-azure-store-blob-name
S3_BUCKET: ${self:service}-${opt:stage, self:provider.stage}-config
SSM: /birthday-bot/dev/authToken
