service: birthday-bot

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 128
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
      Resource: "arn:aws:s3:::birthday-bot-s3-store/*"

functions:
  configChannel:
    handler: lambdas/slackChannel.config
  getBirthdays:
    handler: lambdas/getBirthdays.handler
  proactiveBirthdayMessage:
    handler: lambdas/slackPost.proactive
    events:
      - schedule: cron(50 11 2-30/2 * ? *)
    environment:
      slackAuthToken: ${ssm:/birthday-bot/dev/authToken~true}

resources:
  Resources:
    BirthdayBotS3StoreTest:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: birthday-bot-s3-store
