service: birthday-bot

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 256
  environment: ${file(env.${opt:stage,self:provider.stage}.yml)}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
      Resource: "arn:aws:s3:::${self:provider.environment.S3_BUCKET}/*"

functions:
  configChannel:
    handler: lambdas/slackChannel.config
    environment:
      slackAuthToken: ${ssm:/birthday-bot/dev/authToken~true}
  getBirthdays:
    handler: lambdas/getBirthdays.handler
    environment:
      slackAuthToken: ${ssm:/birthday-bot/dev/authToken~true}
  proactiveBirthdayMessage:
    handler: lambdas/slackPost.proactive
    events:
      - schedule: cron(50 11 2-30/2 * ? *)
    environment:
      slackAuthToken: ${ssm:/birthday-bot/dev/authToken~true}

resources:
  Resources:
    BirthdayBotS3:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.S3_BUCKET}
