service: birthday-bot

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 128
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:ListBucket
        - s3:GetObject
        - s3:PutObject
      Resource: "arn:aws:s3:::birthday-bot-s3-operations-bucket/*"

functions:
  configChannel:
    handler: lambdas/slackChannel.config
  getBirthdays:
    handler: lambdas/getBirthdays.handler
  proactiveBirthdayMessage:
    handler: lambdas/slackPost.proactive
    events:
      - schedule: cron(50 11 * * ? *)
    environment:
      slackAuthToken: ${ssm:/birthday-bot/dev/authToken~true}

resources:
  Resources:
    BirthdayBotS3OperationsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: 'birthday-bot-s3-operations-bucket'
